/* Primary Colors */
:root {
    --primary-blue: #007BFF;
    --dark-blue: #0056B3;
    --dark-gray: #212529;
    --medium-gray: #6C757D;
    --light-gray: #F8F9FA;
    --white: #FFFFFF;
    --success-green: #28A745;
    --warning-yellow: #FFC107;
    --danger-red: #DC3545;
    --low-priority: #5A67D8;
    --medium-priority: #20C997;
    --high-priority: #E36209;
}

/* Body Text */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-gray);
    background-color: var(--light-gray);
}

/* Headings and Buttons */
h1, h2, h3, h4, h5, h6, .btn {
    font-family: 'Inter', sans-serif;
}

/* Numbers and Analytics */
.numbers, .analytics {
    font-family: 'Space Mono', monospace;
}

/* Navbar */
.navbar {
    background-color: var(--white);
    color: var(--dark-gray);
}

.navbar .navbar-brand {
    color: var(--dark-gray);
}

.navbar .navbar-brand:hover {
    color: var(--primary-blue);
}

.navbar .btn-outline-primary {
    color: var(--primary-blue);
    border-color: var(--primary-blue);
}

.navbar .btn-outline-primary:hover {
    background-color: var(--primary-blue);
    color: var(--white);
}

/* Hero Section */
header {
    background-color: var(--primary-blue);
    color: var(--white);
}

/* Task List Cards */
.card {
    background-color: var(--light-gray);
    color: var(--dark-gray);
}

/* Priority Matrix */
.quadrant {
    height: 20rem; /* Fixed height */
    transition: background-color 0.3s ease;
}
.quadrant.dragover {
    background-color: var(--light-gray);
}
.quadrant h4 {
    margin-bottom: 10px;
}
.list-group-item{
    padding: 0 !important;
}
.task-item, .item-clone {
    width: auto;
}
.item-clone {
    position: absolute;
    max-width: 120px;
    font-size: .75rem;
    width: auto;
    border: 1px solid var(--medium-gray);
    background-color: rgba(248, 249, 250, 0.8);
    padding: .25rem;
    border-radius: .25rem;
}
.task-item.dragging, .item-clone.dragging {
    opacity: 0.5;
}
.border-dark {
    border-color:  var(--dark-gray) !important;
}