<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScrollToDo - Organize, Prioritize, and Conquer</title>
    {% load static %}
    <link href="{% static 'tasks/styles.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body class="d-flex flex-column min-vh-100 bg-light">

    <!-- Navigation Bar -->
     <!-- Include Navigation Bar -->
     {% include 'tasks/navbar.html' %}

    <div class="container mt-5">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <!-- Footer -->
    <!-- Include Footer -->
    {% include 'tasks/footer.html' %}

</body>
</html>